<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Word Type</th>
      <th>Definition</th>
      <th>Origin</th>
      <th>Example</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.word %></td>
        <td><%= entry.word_type %></td>
        <td><%= entry.definition %></td>
        <td><%= entry.origin %></td>
        <td><%= entry.example %></td>
        <td><%= entry.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
