<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<div class="dictionary">
  <div class="words">
    <div class="entry">
      <% @entries.each do |entry| %>
      <div class="word"><%= entry.word %><span class="word-type"><%=entry.word_type %></span></div>
      <div class="actions">
        <a class="action"><%= link_to 'Show', entry %></a>
        <a class="action"><%= link_to 'Edit', edit_entry_path(entry) %></a>
        <a class="action"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
      <div class="definition"><%= entry.definition %></div>
      <div class="example"><%= entry.example %></div>
      <div class="credit"><%= entry.origin %></div>
      <div class="author"><%= entry.author %></div>
    </div>
    <!--<p class="reference-letter">a</p> -->
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Word Type</th>
      <th>Definition</th>
      <th>Text</th>
      <th>Origin</th>
      <th>Example</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.word %></td>
        <td><%= entry.word_type %></td>
        <td><%= entry.definition %></td>
        <td><%= entry.origin %></td>
        <td><%= entry.example %></td>
        <td><%= entry.author %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
